<head>
  <!-- using latest version jquery in case of no additional requirements of browser compability -->
  <script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
  <script src='/testApiLinks.js'> </script>
  <script>
  //While code is in separate file, invocation of on load event placed explicitly
  //to prevent unexpected behaviours in further development
  $(window).on('load', function(){
    getExampleComLinks();
  });
  </script>
</head>
<body>
  <div id='testApiLinks'></div>
</body>
